<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cover_pic</key>
		<string>001@2x</string>
		<key>emojis</key>
		<array>
			<dict>
				<key>desc</key>
				<string>[呲牙]</string>
				<key>image</key>
				<string>001.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[调皮]</string>
				<key>image</key>
				<string>002.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[流汗]</string>
				<key>image</key>
				<string>003.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[偷笑]</string>
				<key>image</key>
				<string>004.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[再见]</string>
				<key>image</key>
				<string>005.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[敲打]</string>
				<key>image</key>
				<string>006.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[擦汗]</string>
				<key>image</key>
				<string>007.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[猪头]</string>
				<key>image</key>
				<string>008.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[玫瑰]</string>
				<key>image</key>
				<string>009.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[流泪]</string>
				<key>image</key>
				<string>010.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[大哭]</string>
				<key>image</key>
				<string>011.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[嘘]</string>
				<key>image</key>
				<string>012.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[酷]</string>
				<key>image</key>
				<string>013.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[抓狂]</string>
				<key>image</key>
				<string>014.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[委屈]</string>
				<key>image</key>
				<string>015.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[便便]</string>
				<key>image</key>
				<string>016.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[炸弹]</string>
				<key>image</key>
				<string>017.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[菜刀]</string>
				<key>image</key>
				<string>018.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[可爱]</string>
				<key>image</key>
				<string>019.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[色]</string>
				<key>image</key>
				<string>020.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[害羞]</string>
				<key>image</key>
				<string>021.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[得意]</string>
				<key>image</key>
				<string>022.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[吐]</string>
				<key>image</key>
				<string>023.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[微笑]</string>
				<key>image</key>
				<string>024.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[发怒]</string>
				<key>image</key>
				<string>025.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[尴尬]</string>
				<key>image</key>
				<string>026.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[惊恐]</string>
				<key>image</key>
				<string>027.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[冷汗]</string>
				<key>image</key>
				<string>028.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[爱心]</string>
				<key>image</key>
				<string>029.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[示爱]</string>
				<key>image</key>
				<string>030.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[白眼]</string>
				<key>image</key>
				<string>031.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[傲慢]</string>
				<key>image</key>
				<string>032.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[难过]</string>
				<key>image</key>
				<string>033.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[惊讶]</string>
				<key>image</key>
				<string>034.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[疑问]</string>
				<key>image</key>
				<string>035.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[睡]</string>
				<key>image</key>
				<string>036.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[亲亲]</string>
				<key>image</key>
				<string>037.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[憨笑]</string>
				<key>image</key>
				<string>038.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[爱情]</string>
				<key>image</key>
				<string>039.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[衰]</string>
				<key>image</key>
				<string>040.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[撇嘴]</string>
				<key>image</key>
				<string>041.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[阴险]</string>
				<key>image</key>
				<string>042.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[奋斗]</string>
				<key>image</key>
				<string>043.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[发呆]</string>
				<key>image</key>
				<string>044.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[右哼哼]</string>
				<key>image</key>
				<string>045.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[拥抱]</string>
				<key>image</key>
				<string>046.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[坏笑]</string>
				<key>image</key>
				<string>047.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[飞吻]</string>
				<key>image</key>
				<string>048.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[鄙视]</string>
				<key>image</key>
				<string>049.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[晕]</string>
				<key>image</key>
				<string>050.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[大兵]</string>
				<key>image</key>
				<string>051.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[可怜]</string>
				<key>image</key>
				<string>052.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[强]</string>
				<key>image</key>
				<string>053.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[弱]</string>
				<key>image</key>
				<string>054.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[握手]</string>
				<key>image</key>
				<string>055.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[胜利]</string>
				<key>image</key>
				<string>056.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[抱拳]</string>
				<key>image</key>
				<string>057.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[凋谢]</string>
				<key>image</key>
				<string>058.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[饭]</string>
				<key>image</key>
				<string>059.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[蛋糕]</string>
				<key>image</key>
				<string>060.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[西瓜]</string>
				<key>image</key>
				<string>061.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[啤酒]</string>
				<key>image</key>
				<string>062.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[瓢虫]</string>
				<key>image</key>
				<string>063.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[勾引]</string>
				<key>image</key>
				<string>064.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[OK]</string>
				<key>image</key>
				<string>065.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[爱你]</string>
				<key>image</key>
				<string>066.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[咖啡]</string>
				<key>image</key>
				<string>067.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[月亮]</string>
				<key>image</key>
				<string>068.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[刀]</string>
				<key>image</key>
				<string>069.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[发抖]</string>
				<key>image</key>
				<string>070.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[差劲]</string>
				<key>image</key>
				<string>071.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[拳头]</string>
				<key>image</key>
				<string>072.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[心碎]</string>
				<key>image</key>
				<string>073.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[太阳]</string>
				<key>image</key>
				<string>074.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[礼物]</string>
				<key>image</key>
				<string>075.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[足球]</string>
				<key>image</key>
				<string>076.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[骷髅]</string>
				<key>image</key>
				<string>077.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[挥手]</string>
				<key>image</key>
				<string>078.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[闪电]</string>
				<key>image</key>
				<string>079.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[饥饿]</string>
				<key>image</key>
				<string>080.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[困]</string>
				<key>image</key>
				<string>081.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[咒骂]</string>
				<key>image</key>
				<string>082.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[折磨]</string>
				<key>image</key>
				<string>083.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[抠鼻]</string>
				<key>image</key>
				<string>084.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[鼓掌]</string>
				<key>image</key>
				<string>085.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[糗大了]</string>
				<key>image</key>
				<string>086.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[左哼哼]</string>
				<key>image</key>
				<string>087.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[哈欠]</string>
				<key>image</key>
				<string>088.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[快哭了]</string>
				<key>image</key>
				<string>089.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[吓]</string>
				<key>image</key>
				<string>090.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[篮球]</string>
				<key>image</key>
				<string>091.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[乒乓]</string>
				<key>image</key>
				<string>092.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[NO]</string>
				<key>image</key>
				<string>093.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[跳跳]</string>
				<key>image</key>
				<string>094.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[怄火]</string>
				<key>image</key>
				<string>095.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[转圈]</string>
				<key>image</key>
				<string>096.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[磕头]</string>
				<key>image</key>
				<string>097.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[回头]</string>
				<key>image</key>
				<string>098.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[跳绳]</string>
				<key>image</key>
				<string>099.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[激动]</string>
				<key>image</key>
				<string>100.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[街舞]</string>
				<key>image</key>
				<string>101.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[献吻]</string>
				<key>image</key>
				<string>102.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[左太极]</string>
				<key>image</key>
				<string>103.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[右太极]</string>
				<key>image</key>
				<string>104.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[闭嘴]</string>
				<key>image</key>
				<string>105.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[开心猫]</string>
				<key>image</key>
				<string>106.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[双喜]</string>
				<key>image</key>
				<string>107.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[鞭炮]</string>
				<key>image</key>
				<string>108.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[灯笼]</string>
				<key>image</key>
				<string>109.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[发财]</string>
				<key>image</key>
				<string>110.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[K歌]</string>
				<key>image</key>
				<string>111.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[购物]</string>
				<key>image</key>
				<string>112.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[邮件]</string>
				<key>image</key>
				<string>113.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[帅]</string>
				<key>image</key>
				<string>114.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[喝彩]</string>
				<key>image</key>
				<string>115.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[祈祷]</string>
				<key>image</key>
				<string>116.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[爆筋]</string>
				<key>image</key>
				<string>117.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[棒棒糖]</string>
				<key>image</key>
				<string>118.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[喝奶]</string>
				<key>image</key>
				<string>119.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[下面]</string>
				<key>image</key>
				<string>120.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[香蕉]</string>
				<key>image</key>
				<string>121.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[飞机]</string>
				<key>image</key>
				<string>122.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[开车]</string>
				<key>image</key>
				<string>123.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[左车头]</string>
				<key>image</key>
				<string>124.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[车厢]</string>
				<key>image</key>
				<string>125.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[右车头]</string>
				<key>image</key>
				<string>126.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[多云]</string>
				<key>image</key>
				<string>127.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[下雨]</string>
				<key>image</key>
				<string>128.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[钞票]</string>
				<key>image</key>
				<string>129.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[熊猫]</string>
				<key>image</key>
				<string>130.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[灯泡]</string>
				<key>image</key>
				<string>131.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[风车]</string>
				<key>image</key>
				<string>132.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[闹钟]</string>
				<key>image</key>
				<string>133.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[打伞]</string>
				<key>image</key>
				<string>134.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[彩球]</string>
				<key>image</key>
				<string>135.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[钻戒]</string>
				<key>image</key>
				<string>136.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[沙发]</string>
				<key>image</key>
				<string>137.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[纸巾]</string>
				<key>image</key>
				<string>138.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[药]</string>
				<key>image</key>
				<string>139.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[手枪]</string>
				<key>image</key>
				<string>140.png</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[青蛙]</string>
				<key>image</key>
				<string>141.png</string>
			</dict>
		</array>
		<key>folderName</key>
		<string>Item01</string>
		<key>isLargeEmoji</key>
		<false/>
		<key>title</key>
		<string>Emoji</string>
	</dict>
	<dict>
		<key>cover_pic</key>
		<string>01.gif</string>
		<key>emojis</key>
		<array>
			<dict>
				<key>desc</key>
				<string>[嗨]</string>
				<key>image</key>
				<string>00.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[哼]</string>
				<key>image</key>
				<string>01.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[猫步]</string>
				<key>image</key>
				<string>02.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[羞]</string>
				<key>image</key>
				<string>03.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[略]</string>
				<key>image</key>
				<string>04.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[跳绳]</string>
				<key>image</key>
				<string>05.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[扭屁屁]</string>
				<key>image</key>
				<string>06.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[嗯]</string>
				<key>image</key>
				<string>07.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[无话可说]</string>
				<key>image</key>
				<string>08.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[动次打次]</string>
				<key>image</key>
				<string>09.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[哎...]</string>
				<key>image</key>
				<string>10.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[666]</string>
				<key>image</key>
				<string>11.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[吃西瓜]</string>
				<key>image</key>
				<string>12.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[晚安,好梦]</string>
				<key>image</key>
				<string>13.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[哈哈哈]</string>
				<key>image</key>
				<string>14.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[早上好]</string>
				<key>image</key>
				<string>15.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[飞吻]</string>
				<key>image</key>
				<string>16.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[飘过]</string>
				<key>image</key>
				<string>17.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[嗨起来]</string>
				<key>image</key>
				<string>18.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[累坏了]</string>
				<key>image</key>
				<string>19.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[拜拜]</string>
				<key>image</key>
				<string>20.gif</string>
			</dict>
		</array>
		<key>folderName</key>
		<string>Item02</string>
		<key>isLargeEmoji</key>
		<true/>
		<key>title</key>
		<string>Emoji</string>
	</dict>
	<dict>
		<key>cover_pic</key>
		<string>02.gif</string>
		<key>emojis</key>
		<array>
			<dict>
				<key>desc</key>
				<string>[嗨]</string>
				<key>image</key>
				<string>00.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[哼]</string>
				<key>image</key>
				<string>01.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[猫步]</string>
				<key>image</key>
				<string>02.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[羞]</string>
				<key>image</key>
				<string>03.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[略]</string>
				<key>image</key>
				<string>04.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[跳绳]</string>
				<key>image</key>
				<string>05.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[扭屁屁]</string>
				<key>image</key>
				<string>06.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[嗯]</string>
				<key>image</key>
				<string>07.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[无话可说]</string>
				<key>image</key>
				<string>08.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[动次打次]</string>
				<key>image</key>
				<string>09.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[哎...]</string>
				<key>image</key>
				<string>10.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[666]</string>
				<key>image</key>
				<string>11.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[吃西瓜]</string>
				<key>image</key>
				<string>12.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[晚安,好梦]</string>
				<key>image</key>
				<string>13.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[哈哈哈]</string>
				<key>image</key>
				<string>14.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[早上好]</string>
				<key>image</key>
				<string>15.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[飞吻]</string>
				<key>image</key>
				<string>16.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[飘过]</string>
				<key>image</key>
				<string>17.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[嗨起来]</string>
				<key>image</key>
				<string>18.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[累坏了]</string>
				<key>image</key>
				<string>19.gif</string>
			</dict>
			<dict>
				<key>desc</key>
				<string>[拜拜]</string>
				<key>image</key>
				<string>20.gif</string>
			</dict>
		</array>
		<key>folderName</key>
		<string>Item03</string>
		<key>isLargeEmoji</key>
		<true/>
		<key>title</key>
		<string>Emoji</string>
	</dict>
</array>
</plist>
